@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

:root {
  --bg-main: #f8fafc;
  --text-main: #1e293b;
  --primary: #034b4c;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: 'Outfit', sans-serif;
}