<div class="h-screen flex flex-col font-outfit overflow-hidden">
  <mat-toolbar color="primary" class="flex justify-between items-center px-4 shadow-md z-10 relative">
    <div class="flex items-center gap-3">
      <button mat-icon-button (click)="toggleMenu()" class="mr-2">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="flex items-center gap-2">
        <span class="text-xl font-bold tracking-tight">Module Federation Magic</span>
      </div>
    </div>
  </mat-toolbar>
  <app-sidemenu></app-sidemenu>
</div>