<div class="h-full w-full flex flex-col p-4 bg-slate-50">
    <div class="flex-1 w-full max-w-7xl mx-auto space-y-6 flex flex-col items-center">

        <nav class="flex gap-4 mb-6">

            <a routerLink="versions" routerLinkActive="!bg-green-500 !text-white !font-bold !border-transparent !shadow-md"
               class="px-6 py-2 rounded-lg bg-white text-slate-500 font-semibold border border-slate-200 hover:bg-slate-50 transition-all duration-200 no-underline cursor-pointer">
               Versions
            </a>
            <a routerLink="features" routerLinkActive="!bg-green-500 !text-white !font-bold !border-transparent !shadow-md"
               class="px-6 py-2 rounded-lg bg-white text-slate-500 font-semibold border border-slate-200 hover:bg-slate-50 transition-all duration-200 no-underline cursor-pointer">
               Features
            </a>
        </nav>


        <div class="w-full">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>